@tailwind base;
@tailwind components;
@tailwind utilities;

/* "slider" id corresponds with the character length slider on-screen*/

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: .5rem;
  height: 1rem;
  background-color: #18171F;
  transform: scale(3);
}

#slider::-webkit-slider-thumb:hover {
  transform: scale(3.6);
}

.header-text {
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 

/* .3 second keyframe */
 
.github-corner:hover .octo-arm {animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}